/*@tailwind base : reset css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "BMJUA";
    src: url("../public/fonts/BMJUA_ttf.ttf");
}

@layer base {
    html {
        font-family: BMJUA;
        font-size: calc(min(100vw, 450px) / 375 * 10); /* 지원하는 최대사이즈를 450px로 지정 */
    }
    .head1 {
        @apply text-48 leading-68 text-gray
    }
    .head2 {
        @apply text-39 leading-48 text-gray
    }
    .head3 {
        @apply text-31 leading-40 text-gray
    }
    .head4 {
        @apply text-25 leading-32 text-gray
    }
    .head5 {
        @apply text-20 leading-24 text-gray
    }
    .paragraph {
        @apply text-16 leading-24 text-gray
    }
    .label {
        @apply text-13 leading-16 text-gray
    }
    .tiny {
        @apply text-10 leading-12 text-gray
    }
}

@layer components {
    .btn {
        @apply box-border h-64 w-163 flex justify-center items-center relative gap-2 p-5 rounded-12 text-white focus:border-solid focus:border-4 disabled:bg-gray-300 disabled:text-gray
    }
    .btn-primary {
        @apply btn bg-primary hover:bg-primary-dark focus:border-b-primary-light
    }
    .btn-secondary {
        @apply btn bg-secondary hover:bg-secondary-dark focus:border-b-secondary-light
    }
    .btn-outline {
        @apply btn bg-white border-b-primary border-2 hover:bg-secondary-dark focus:border-b-secondary-light
    }
}
