/*@tailwind base : reset css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "KoddiUDOnGothic";
    src: url("../public/fonts/KoddiUDOnGothic-Regular.woff2") ;
    src: url("../public/fonts/KoddiUDOnGothic-Bold.woff2") ;
    src: url("../public/fonts/KoddiUDOnGothic-ExtraBold.woff2") ;
}

@layer base {
    html {
        font-family: KoddiUDOnGothic;
    }
}
